{% extends 'base.html' %}
{% set background = '' %}
{% block content %}

    <div class="container" id="accountInfo" style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
        <div class="header">
            <h2 id="greeting"> 
                
            </h2>
        </div>
        <div class="account-info">
            <form id="accountForm">
                <div class="form-row">
                    <div class="form-group">
                        <label for="firstName" class="control-label">First Name</label>
                        <input type="text" id="firstName" name="firstName" placeholder="Enter first name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label">Last Name</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Enter last name" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control" style="width: calc(50% - 2px); white-space: nowrap;">
                        <span class="show-password" id="showPassword" type="button">Show password &#128065;</span> <!-- Eye icon -->
                    </div>
                </div>

                <div class="form-row" style="display: flex; align-items: center; justify-content: space-between; width: 50%" align="left">
                    <div class="form-group">
                        <label for="emailPrimary" class="control-label">Email</label>
                        <input type="email" id="emailPrimary" name="emailPrimary" placeholder="Enter email">
                        <label for="emailPrimaryCheckbox" class="control-label">Primary</label>
                        <input type="checkbox" id="emailPrimaryCheckbox">
                    </div>
                    &emsp;
                    <div class="form-group">
                        <label for="emailSecondary" class="control-label">Alternate Email</label>
                        <input type="email" id="emailSecondary" name="emailSecondary" placeholder="Enter alternate email"><br>
                        <label for="emailSecondaryCheckbox" class="control-label">Primary</label>
                        <input type="checkbox" id="emailSecondaryCheckbox">
                    </div>
                </div>

                <div class="form-row" style="display: flex; align-items: center; justify-content: space-between; width: 50%" align="left">
                    <div class="form-group">
                        <label for="phonePrimary">Phone Number</label>
                        <input type="tel" id="phonePrimary" name="phonePrimary" placeholder="Enter your phone number">
                        <label for="phonePrimaryCheckbox">Primary</label>
                        <input type="checkbox" id="phonePrimaryCheckbox">
                    </div>
                    &emsp;
                    <div class="form-group">
                        <label for="phoneSecondary">Alternate Phone Number</label>
                        <input type="tel" id="phoneSecondary" name="phoneSecondary" placeholder="Enter your phone number"><br>
                        <label for="phoneSecondaryCheckbox">Primary</label>
                        <input type="checkbox" id="phoneSecondaryCheckbox">
                    </div>
                </div>
                <button type="button" id="editButton" class="edit-btn">Edit</button>&emsp;
                <button type="button" id="submitButton">Submit</button>
            </form>
        </div>
    </div>

   <script src="js/account.js">

   </script>

{% endblock %}





<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/lib/hope-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container mt-5">
        <div class="header">
            <h2>Hi, Ben Burchfield</h2>
        </div>
        <h3>Account Information</h3>
        <form id="accountForm">
            <div class="form-group mb-3">
                <label for="firstName">Firstname:</label>
                <input type="text" id="firstName" name="firstName" class="form-control" value="Ben" disabled>
            </div>
            <div class="form-group mb-3">
                <label for="lastName">Lastname:</label>
                <input type="text" id="lastName" name="lastName" class="form-control" value="Burchfield" disabled>
            </div>
            <div class="form-group mb-3">
                <label for="userName">Username:</label>
                <input type="text" id="userName" name="userName" class="form-control" value="bburchfield" disabled>
            </div>
            <div class="form-group mb-3">
                <label for="passWord">Password:</label>
                <input type="password" id="passWord" name="passWord" class="form-control" value="password123" disabled>
                <span class="show-password">&#128065;</span>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" value="ben@sample.com" disabled>
            </div>
            <div class="form-group mb-3">
                <label for="phoneNumber">Phone-Number:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" value="8002255499" disabled>
            </div>
            <button type="button" id="editButton" class="btn btn-warning">Edit</button>
            <button type="submit" id="saveButton" class="btn btn-success" style="display: none;">Save</button>
        </form>
    </div>

    <ul id="dropDownMenu" class="dropdown-menu dropdown-menu-end">
        <li><button id="btnAbout" class="dropdown-item position-relative" type="button">About</button></li>
        <li><button id="btnAccount" class="dropdown-item position-relative" type="button" style="display: none;">Account</button></li>
        <li><button id="btnDashboard" class="dropdown-item position-relative" type="button" style="display: none;">Dashboard</button></li>
        <li><button id="btnIngredient" class="dropdown-item position-relative" type="button" style="display: none;">Ingredient</button></li>
        <li><button id="btnRecipe" class="dropdown-item position-relative" type="button" style="display: none;">Recipe</button></li>
        <li><button id="btnTask" class="dropdown-item position-relative" type="button" style="display: none;">Task</button></li>
        <li><button id="btnLogout" class="dropdown-item position-relative" type="button" style="display: none;">Logout</button></li>
    </ul>

    <script src="script.js"></script>
</body>

</html>
-->