<!-- Ingredient view
 Purpose: see details of one ingredient when clicked on from ingredient page -->

{% extends 'base.html' %}
{% set background = '' %}
{% set title = 'Ingredient View' %} <!-- Change dynamically based on which ingredient was clicked on from ingredient.html -->
{% block content %}

<div align="center">
    <div class="task-form col-12" id="ingredientFormContainer" align="left">
    </div>
</div>

<script src="js/jsource/sweetalert.js"></script>
<script src="js/ingredient_view.js"></script>
{% endblock %}
{% block js %}
{% endblock %}
