{% extends 'base.html' %}
{% set background = '' %}
{% block content %}

<div class="col-12 d-flex align-items-start justify-content-center min-vh-100">
    <div class="card col-10 mt-4">
        <div class="card-header">
            <h4 class="text-center">
                <button id="btnAddRecipe" class="btn col-12" style="background-color: #f5c976;" type="button">Add Recipe</button>
            </h4>
        </div>
        <div class="card-body container-fluid col-12"  id="divRecipes">
            
        </div>
    </div>
</div>

<script src="js/recipe.js"></script>
{% endblock %}