.orange1-text {
    color: #e99002;
}
.dbrown-text {
    color: #5c280a;
}
.brown-text {
    color: #8c481b;
}
.orange2-text {
    color: #d17e33;
}
.yellow-text {
    color: #f5c976;
}
.beige-text {
    color: #f6ebd8;
}


/* Orange Default #e99002 */
/* Dark Brown #5c280a */
/* Brown #8c481b */
/* Orange #d17e33 */
/* Yellowish #f5c976 */
/* Beige #f6ebd8 (pale Yellow for people who did not take Art 1) */